services:
  - type: web
    name: genai-doc-assistant-backend
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    envVars:
      - key: PYTHON_VERSION
        value: "3.11"
      - key: PORT
        value: "8000"
    healthCheckPath: /health-check
    region: oregon
