fastapi
uvicorn[standard]
gunicorn
langchain_chroma
langchain_community
langchain_core
langchain_groq
langchain_huggingface
langchain_text_splitters
pandas
openpyxl
pypdf
python-dotenv
requests
streamlit
python-multipart
aiofiles
